<div class='flex items-center gap-x-3 [&:hover_span]:text-indigo-300'>
  <svg width='42' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'
    ><path
      fill-rule='evenodd'
      clip-rule='evenodd'
      d='M21 48c11.598 0 21-10.7452 21-24S32.598 0 21 0C9.40202 0 0 10.7452 0 24s9.40202 24 21 24Zm9.5-27c1.933 0 3.5-.8954 3.5-2s-1.567-2-3.5-2-3.5.8954-3.5 2 1.567 2 3.5 2ZM26 41c0 1.1046-2.2386 2-5 2s-5-.8954-5-2 2.2386-2 5-2 5 .8954 5 2ZM10.5 21c1.933 0 3.5-.8954 3.5-2s-1.567-2-3.5-2-3.5.8954-3.5 2 1.567 2 3.5 2Z'
      fill='#fff'></path><path
      d='M9.76688 15.5c-2.69801-.6745-1.27309-5.3063.03949-8.44103.29513-.70479 1.23073-.78378 1.60963-.12029C13.5472 10.6701 15.0304 16.2018 9.76688 15.5ZM11.91 24.0846c3.849.9812 1.5492 7.9805-.2964 12.3265-.3015.7101-1.2509.7899-1.64379.126C6.90516 31.3587 4.47395 23.0736 11.91 24.0846ZM31.91 24.0846c3.849.9812 1.5492 7.9805-.2964 12.3265-.3015.7101-1.2509.7899-1.6438.126-3.0646-5.1784-5.4959-13.4635 1.9402-12.4525ZM29.5315 15.5c-2.698-.6745-1.2731-5.3063.0395-8.44103.2951-.70479 1.2307-.78378 1.6097-.12029C33.3118 10.6701 34.795 16.2018 29.5315 15.5Z'
      fill='#BA94D1'></path></svg
  >

  <span class='font-bold text-2xl transition-colors'>Animeflv</span>
</div>
