---
import { BUTTON } from '@/css/styles'
import Logo from '@components/logo.astro'

import { Search } from '@icons/index.astro'

const links = [
  {
    path: '/',
    name: 'Inicio'
  },
  {
    path: '/directorio',
    name: 'Lista de animes'
  }
]

const { pathname } = Astro.url
---

<nav class='px-6 py-4 flex items-center justify-between fixed w-full'>
  <a href='/'>
    <Logo />
  </a>
  <ul class='flex items-center gap-x-8 font-medium'>
    {
      links.map(({ name, path }) => (
        <li>
          <a
            href={path}
            class={`transition-[transform,color] hover:text-indigo-200 ${
              path === pathname ? 'text-indigo-200' : ''
            }`}
          >
            {name}
          </a>
        </li>
      ))
    }
  </ul>
  <button class={`p-2 ${BUTTON.primary}`}>
    <Search size={18} />
  </button>
</nav>
